<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlToPdf.NodeJsFilePath" value="D:\git\url-to-pdf-dotnet\src\NodeJs\htmlToPdf.js" />
    <add key="UrlToPdf.NpmOrYarnPath" value="C:\Program Files (x86)\Yarn\bin\yarn.cmd" />
    <add key="UrlToPdf.NodeJsExecutablePath" value="node.exe" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
<add key="UrlToPdf.NodeJsFilePath" value="D:\git\url-to-pdf-dotnet\src\NodeJs\htmlToPdf.js" />
<add key="UrlToPdf.NpmOrYarnPath" value="C:\Program Files (x86)\Yarn\bin\yarn.cmd" />
<add key="UrlToPdf.NodeJsExecutablePath" value="node.exe" />